/* Definicoes de Base */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,500,900);

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Roboto', Segoe UI, Helvetica Neue, Ubuntu, Calibri, Trebuchet MS, Arial, sans-serif;
  font-size: 16px;
  line-height: 21px;
  background-color: #ffffff;
  color: #333333;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

h1 {  
  font-size: 35px;
  line-height: 40px;
  font-weight: lighter;
}
h2 {
  font-size: 30px;
  line-height: 35px;
}
h3 {
  font-size: 25px;
  line-height: 30px;
}

a {
  color: #2B80FF;
  text-decoration: none;
  transition: .3s;
}
a:hover {
  color: #1A54AA;
}

div {
  display: block;
}

footer {
  background-color: #fbfbfb;
  border-top: 1px solid #CCC;
  text-align: right;
}
footer main {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url('../img/gp-logo_v2.svg');
  background-size: 100px;
  background-position: 15px center;
  background-repeat: no-repeat;
}

main {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  display: block;
}

/* Este codigo @media sao para especificos tamanhos de telas */
@media(min-width: 920px) {
  main {		
    width: 860px;
  }
  header > main:first-of-type {    
    background-image: url('../img/gp-logo_v2.svg');
    background-size: 128px;
    background-position: left 90px;
    background-repeat: no-repeat;
  }
  header main h1 {
    padding-left: 128px;
  }
}
/* Estes codigo @media sao para especificos tamanhos de telas */

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.texto-centro {
  text-align: center;
}

.centralizar {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.oculto {
  display: none;
  visibility: hidden;
}

.padding-5 {
  padding: 5px;
}
.padding-10 {
  padding: 10px;
}
.padding-15 {
  padding: 15px;
}

.padding-5-v {
  padding: 5px 0px;
}
.padding-10-v {
  padding: 10px 0px;
}
.padding-15-v {
  padding: 15px 0px;
}

.padding-5-h {
  padding: 0px 5px;
}
.padding-10-h {
  padding: 0px 10px;
}
.padding-15-h {
  padding: 0px 15px;
}
/* Definicoes de Base */


/* Definicoes padrao do Cabecalho */
header {
  box-shadow: inset 0px -10px 8px -10px #ffffff;
  background-color: #005FED;
  color: #ffffff;
  background-image: url('../img/backgrounds/triangles-blue.png');
  background-size: cover;
}

header > main:first-of-type {
  padding-top: 70px;
  padding-bottom: 60px;
}

header h1 {
  font-size: 50px;
  line-height: 55px;
  font-weight: bold;
}

header h1 small {
  font-weight: lighter;
}

@media(min-width: 920px) {
  header h1 {
    font-size: 65px;
    line-height: 70px;
  }
}
/* Definicoes padrao do Cabecalho */


/* Definicoes das Secoes */
section {
  padding: 60px 0px 75px 0px;
  border-bottom: 1px solid #e7e7e7;
}

section h1:first-of-type {
  margin-top: 0px;
}

section:last-of-type {
  border-bottom: none !important;
}

section:nth-child(even) main h1:first-of-type {
  color: #2B80FF;
}

section:nth-child(even) main h1::after {
  background-color: #333333;
}

section main h1::after {
  position: absolute;
  display: block;
  width: 50px;
  height: 5px;
  background-color: #2B80FF;
  color: #f8f8f8;  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  content: ".";
  margin-top: 5px;
}
/* Definicoes das Secoes */


/* Definicoes de GRADES */
.grade-2:before, .grade-2:after,
.grade-3:before, .grade-3:after, 
.grade-4:before, .grade-4:after {
  content: " ";
  display: table;
}

.grade-2:after, .grade-3:after, .grade-4:after {
  clear: both;
}

.grade-2 > div,
.grade-3 > div,
.grade-4 > div {
  margin-top: 25px;
  float: left;
  width: 100%;
}

@media(min-width: 920px) {
  .grade-2 > div,
  .grade-3 > div,
  .grade-4 > div {
    position: relative;
    min-height: 1px;
  }
  .grade-2 > div,
  .grade-3 > div,
  .grade-4 > div {
    margin-top: 0px;
  }
  .grade-2 > div {
    width: 50%;
  }
  .grade-3 > div {
    width: 33.33333333%;
  }
  .grade-4 > div {
    width: 25%;
  }
}
/* Definicoes de GRADES */


/* Definicoes de botoes */
.botao {
  display: inline-block;
  border: none !important;
  padding: 10px 15px;
  margin: 2.5px 0px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: .3s;
  color: #333333;
  background-color: #e7e7e7;
}
.botao:hover {
  color: #000000;
  background-color: #ccc;
}

.botao-primario {
  color: #ffffff;
  background-color: #2B80FF;
}
.botao-primario:hover {
  color: #e7e7e7;
  background-color: #1A54AA;
}

.botao-secundario {
  color: #ffffff;
  background-color: #1A54AA;
}
.botao-secundario:hover {
  color: #e7e7e7;
  background-color: #0E2B57;
}

.botao-grande {
  padding: 15px 45px;
  font-size: 20px;
  line-height: 25px;
  font-weight: normal;
}
/* Definicoes de botoes */
